@import "__variables.scss";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Playfair+Display|Roboto:300,400,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('/img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -1;
}
h1{
    text-align: center;
    color:$lightGray;
    margin: 15vw 0 10vw 0;
}
.navbar{
    background-color: $messBlue;
    box-shadow: 0 0 5px black;
    margin: 5vw 3vw;
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 5vw;
    }
    &__option{
        color:white;
        padding: 2vw 0;
        font-size: 10px;
        font-weight: 300;
    }
}
.card{
    background-color: $lightWhite;
    box-shadow: 0 0 5px black;
    margin: 0 auto;
    width: 90vw;
    &__photo{
        padding: 5vw;
        // float: left;
        text-align: center;
    }
    &__photo img{
        // border: 2px solid $messBlue;
        width: 150px;
    }
    &__title{
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        padding: 3vw;
        font-weight: 300;
    }
    &__name{
        font-weight: 700;
    }
    &__info{
        padding-left: 10px;
    }
    &__social{
        background-color: $messBlue;
    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 1vw;
    }
    &__option{
        margin: 0 auto;
        padding: 5vh 0 4vh 0;
    }
    &__option img{
        width: 40px;
    }
    &__textinfo-left{
        display: block;
        width: 100%;
        float:left;
        padding-bottom: 5px;
        font-weight: 700;
    }
    &__textinfo{
        display: block;
        font-weight: 400;
        color: $lightGray;
        width: 100%;
        padding-bottom: 15px;
        // margin-left: 60px;
    }
}
.cv{
    width: 80vw;
    margin: 0 auto;
    &__linkblock{
        width: 150px;
        height: 50px;
        // background-color: $messBlue;
        border: 1px solid $messBlue;
        margin: 5vw auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__link{
        color:$messBlue;
        text-decoration: none;
        font-weight: 700;
    }
    &__text{
        font-size: 25px;
        font-weight: 200;
        line-height: 125%;
        text-align: center;
    }
}
.myskills{
    &__board{
        width: 90vw;
        margin: 0 auto;
        background-color: $lightWhite;
        box-shadow: 0 0 5px black;
    }
    &__list{
     list-style: none;
     margin-left: 20px; 
    }
    &__option{
        padding: 15px 0;
    }

    &__progress{
        position: relative;
        background-color: $lightGray;
        width: 60%;
        height: 8px;
        margin: 0 120px;
    }
    &__textleft{
        float: left;
        padding-bottom: 5px;
        font-weight: 700;
    }
}
.slider{
    &__content{
        width: 90vw;
        margin:0 auto;
    }
    & img{
     width: 100%;
    }

}

.portfolio{
    &__list{
        margin: 0 3vw;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__option{
        padding: 1vw;
        background-color: $lightWhite;
    }
    & img{
        width: 100px;
    }
    &__button{
        text-align: center;
        border: 1px solid $messBlue;
        color: $messBlue;
        padding: 3vw 0;
        font-weight: 600;
    }
}

.contact{
    &__list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin-top: 15vw;
    }
    & img{
        width: 50px;
    }
    &__form{
        width: 80vw;
        background-color: $lightWhite;
        padding: 1vw 5vw;
        margin: 0 auto;
        box-shadow: 0 0 5px black;
    }
    &__title{
        font-size: 20px;
        margin: 5vw 0;
        font-weight: 600;
    }
    &__send{
        background-color: none;
        border: 1px solid $messBlue;
        padding: 10px 15px;
        color: $messBlue;
        font-weight: 600;
    }
    & input, textarea{
        margin-bottom: 3vw;
    }
}