@import "__variables.scss";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Playfair+Display|Roboto:300,400,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    padding-top: 100px;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: -1;
}
h1{
    text-align: center;
    color:$lightGray;
    margin: 15vw 0 10vw 0;
}
.navbar{
    // margin: 5vw 0;
    position: fixed;
    z-index: 5;
    top:0;
    background-color: transparent;
    transition: background-color .5s;
    transition: opacity .1s;
    width: 100vw;
    // box-shadow: 0 0 5px black;
    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        display: none;
    }
    &__option{
        color:white;
        padding: 2vw 0;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        width: 100vw;
        border-bottom: 1px solid black;
        transition: padding .1s;
    }
    &__burger{
        margin-left: 85vw;
    }
    & img{
        width: 20px;
    }
    &__top{
        align-items: center;
        margin: 20px 0 10px 0;
    }
    & a{
        text-decoration: none;
    }
}
.card{
    background-color: $lightWhite;
    box-shadow: 0 0 5px black;
    margin: 0 auto;
    width: 90vw;
    &__photo{
        padding: 5vw;
        // float: left;
        text-align: center;
    }
    &__photo img{
        // border: 2px solid $messBlue;
        width: 150px;
    }
    &__title{
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        padding: 3vw;
        font-weight: 300;
    }
    &__name{
        font-weight: 700;
    }
    &__info{
        padding-left: 10px;
    }
    &__social{
        background-color: $messBlue;
    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin-top: 1vw;
    }
    &__option{
        margin: 0 auto;
        padding: 5vh 0 4vh 0;
    }
    &__option img{
        width: 40px;
    }
    &__textinfo-left{
        display: block;
        width: 100%;
        float:left;
        padding-bottom: 5px;
        font-weight: 700;
    }
    &__textinfo{
        display: block;
        font-weight: 400;
        color: $lightGray;
        width: 100%;
        padding-bottom: 15px;
        // margin-left: 60px;
    }
}
.cv{
    width: 80vw;
    margin: 0 auto;
    &__linkblock{
        width: 150px;
        height: 50px;
        // background-color: $messBlue;
        border: 1px solid $messBlue;
        margin: 5vw auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .1s;
    }
    &__link{
        color:$messBlue;
        text-decoration: none;
        font-weight: 700;
    }
    &__text{
        font-size: 25px;
        font-weight: 200;
        line-height: 125%;
        text-align: center;
    }
}
.myskills{
    &__board{
        width: 90vw;
        margin: 0 auto;
        background-color: $lightWhite;
        box-shadow: 0 0 5px black;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    &__list{
     list-style: none;
     margin-left: 20px; 
    }
    &__option{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
    }

    &__progress{
        position: relative;
        background-color: $lightGray;
        width: 50%;
        height: 8px;
        // margin: 0 120px;
        margin-right: 20px; 
    }
    &__percentage{
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: $messBlue;
    }
    &__percentage--1{
        width: 89%;
    }
    &__percentage--2{
        width: 72%;
    }
    &__percentage--3{
        width: 62%;
    }
    &__percentage--4{
        width: 34%;
    }
    &__value{
        position: absolute;
        color: $messBlue;
        text-align: center;
        width: 100%;
        top: 95%;
    }
    &__textleft{
        float: left;
        padding-bottom: 5px;
        font-weight: 700;
    }
    &__buttondiv{
        margin-top: 15px;
        // border: 1px solid $messBlue;
    }
    &__button{
        // border: 1px solid $messBlue;
        color: $messBlue;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
    }
    &__data{
        margin: 0 auto;
        width: 60vw;
    }
    &__tech{
        background-color: #f3f3f3;
        box-shadow: 0 0 5px black;
        padding: 1vw;
        list-style: none;
        display: none;
    }
    &__tech li{
        padding: 10px;
    }
    &__logo{
        width: 100px;
    }
    &__red{
        color:red;
    }
    &__yellow{
        color:rgb(192, 192, 0);
    }
    &__green{
        color:green;
    }
}
.slider{
    &__content{
        width: 95vw;
        margin:0 auto;
    }
    & img{
     width: 100%;
    }

}

.portfolio{
    &__list{
        margin: 0 3vw;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__option{
        padding: 5vw;
        flex-basis: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    & img{
        height: 100px;
    }
    &__button{
        text-align: center;
        border: 1px solid $messBlue;
        color: $messBlue;
        padding: 25px 0;
        width: 100%;
        font-weight: 600;
        transition: background-color .1s;
    }
    & a{
        transition: background-color .1s;
        text-decoration: none;
        color:$messBlue;
    }
    &__text{
        text-align: center;
        margin: 20px -20px;
    }
}

.contact{
    &__list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin-top: 15vw;
    }
    & img{
        width: 50px;
    }
    &__form{
        width: 80vw;
        background-color: $lightWhite;
        padding: 1vw 5vw;
        margin: 0 auto;
        box-shadow: 0 0 5px black;
    }
    &__title{
        font-size: 20px;
        margin: 5vw 0;
        font-weight: 600;
    }
    &__send{
        background-color: none;
        border: 1px solid $messBlue !important;
        width: 50% !important;
        padding: 10px 15px;
        color: $messBlue;
        font-weight: 600;
        margin-left: 25%;
        transition: background-color .1s;
    }
    & input, textarea{
        margin-bottom: 3vw;
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        background-color: transparent;
        font-size: 20px;
        resize: none;
    }
}
@media (min-width: 500px){
    
    h1{
        margin: 8vw 0 3vw 0;
    }
    .navbar{
        &__list{
            justify-content: space-evenly;
            flex-direction: row;
            display: flex;
            background-color: $messBlue;
        }
        &__option{
            width: auto;
            border-bottom: none;
        }
        & a  {
            position: relative;
            color: #000;
            text-decoration: none;
            }
        & a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 65%;
            left: 0;
            background-color: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        & a:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }

h2 > a:hover {
  color: #000;
}
        &__top{
            display: none;
        }
    }
    .card{
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        &__social{
            flex-basis: 100%;
        }
        &__textinfo-left{
            width: auto;
        }
        &__textinfo{
            flex-basis: 50%;
            margin-left: 120px;
        }
        &__photo{
            flex-basis: 40%;
            padding:50px 0;
        }
    }
    .cv{
        &__linkblock:hover>a,&__linkblock:hover{
            background-color: $messBlue;
            color: white;
            cursor: pointer;
        }
    }
    .myskills{
        &__board{
            width: 70%;
            padding: 3vw
        }
        &__textleft{
            float: left;
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 20px;
        }
    }
    .slider{
        &__content{
            width: 55%;
        }
    }
    .portfolio{
        &__button:hover>a,&__button:hover{
            background-color: $messBlue;
            color: white;
            cursor: pointer;
        }
    }
.contact{
        &__list{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            margin-top: 1vw;
        }
        &__form{
            width: 500px;
            padding: .1vw 1vw;
        }
        &__title{
            margin: 3vw 0;
        }
        &__send:hover>a,&__send:hover{
            background-color: $messBlue;
            color: white;
            cursor: pointer;
        }
    }
}